.btnBig, .btnMed, .btnSmall {
    display: block;
    border: none;
    transition: 0.8s;
}

.btnBig, .btnMed {
    border-radius: var(--radius-1);
}

.btnBig {
    padding: 11.5px 20px;
}

.btnMed {
    padding: 10.5px 20px;
}

.btnSmall {
    background-color: none;
}